.detail::-webkit-scrollbar {
    display: none;
}

.detail {
    flex: 1;
    overflow: scroll;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid gray;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        h2 {
            margin-bottom: 0;
        }

        p {
            margin: 0;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .option {
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 20px;
                    height: 20px;
                    background-color: azure;
                    padding: 10px;
                    border-radius: 50px;
                }
            }

            .photos {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .photoItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span {
                            font-size: 14px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon {
                        width: 20px;
                        height: 20px;
                        background-color: aliceblue;
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .blockButton {
                padding: 10px 20px;
                width: 100%;
                border: none;
                background-color: grey;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    transition: 0.5s;
                    background-color: red;
                }
            }

            .logoutButton {
                width: 100%;
                padding: 10px 20px;
                margin-top: 0;
                border: none;
                background-color: grey;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    transition: 0.5s;
                    background-color: red;
                }
            }
        }

    }
}