@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@200&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    flex: 2;


    .loginForm {
        flex: 1;


    }

    .registerForm {
        flex: 1;
        border-left: 2px solid lightgrey;

    }

    .title {
        text-align: center;
        font-family: "Fustat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 30px;
        color: white;
    }

    .title__puretalk {
        font-size: 70px;
        text-align: center;
        font-family: "Fustat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
        transition: 0.9s;


        &:hover {
            transition: 0.9s;
            transform: scale(1.02);
        }
    }

    .actions {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .file {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 5px;



            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 10px;


            }

            input {
                margin-left: 50px;
                border: none;
                background:
                    linear-gradient(45deg, transparent 0%, transparent 57%, #423246 100%),
                    linear-gradient(-45deg, #8f5046 0%, #A14436 0.3%, #4C2556 112%, transparent 11%),
                    linear-gradient(-90deg, #A14436 100%, #A14436 65%, transparent 20%);
                color: #fff;
                cursor: pointer;
            }
        }

        input {
            font-family: "Fustat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            border: none;
            width: 80%;
            padding: 15px;
            outline: none;
            color: black;
            margin: 10px 0px;
        }

        button {
            border: none;
            width: 30%;
            padding: 15px;
            outline: none;
            color: black;
            background-color: yellowgreen;
            cursor: pointer;
            margin: 10px 0px;
            font-size: 15px;
            transition: 0.5s;
            font-family: "Fustat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;


            &:disabled {
                cursor: not-allowed;
                background-color: rgba(153, 205, 50, 0.502);
            }

            &:hover {
                transition: 0.5s;
                background-color: rgb(195, 254, 76);
                transform: scale(1.02);

            }
        }
    }
}